/* Estilos para elementos responsivos */

/* Para pantallas medianas (tablets) */
@media (max-width: 991.98px) {
  .carousel-item img {
    height: 300px;
  }
  
  .card-deck {
    display: flex;
    flex-flow: row wrap;
    margin-right: -10px;
    margin-left: -10px;
  }
  
  .card-deck .card {
    flex: 0 0 calc(50% - 20px);
    margin: 0 10px 20px;
  }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 767.98px) {
  h1 {
    font-size: 1.8rem;
  }
  
  .carousel-item img {
    height: 250px;
  }
  
  .carousel-caption {
    display: none;
  }
  
  .card-deck .card {
    flex: 0 0 100%;
    margin: 0 0 20px;
  }
  
  .tip-item {
    flex-direction: column;
  }
  
  .tip-icon {
    margin-bottom: 1rem;
    margin-right: 0;
  }
  
  footer [class^="col-"] {
    text-align: center !important;
    margin-bottom: 1rem;
  }
}